@import url("./variables.css");

@media only screen and (min-width: 480px) {
  .card__header h2 {
    font-size: var(--body-18);
    font-weight: 600;
    letter-spacing: 0;
  }

  .card__header span {
    font-size: var(--body-16);
    font-weight: 400;
  }

  .card__content p {
    font-size: var(--body-16);
    letter-spacing: -0.02rem;
  }

  span.title-tag {
    font-size: var(--body-16);
    font-weight: 500;
  }

  .soluciones__lista--detallada .solution__img {
    width: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .soluciones__accordeon {
    border-radius: var(--card-border-radius-2);
    padding: 1rem 1.6rem;
  }

  .solucion__card--mobile {
    padding: 2rem 2rem;
  }

  .container__solutions--top {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  .container__solutions--top li {
    width: fit-content;
  }

  .tab-button {
    margin: 0;
    padding: 1.8rem 2rem;
    text-align: left;
  }

  .tab-content--active {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  /* sección de soluciones */
  .soluciones__accordeon {
    display: none;
  }

  section.soluciones {
    position: relative;
    padding-bottom: 4rem;
    padding-top: 8rem;
  }

  /* subtitulo */
  .soluciones__headings h3 {
    text-align: center;
  }

  .soluciones__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    background-color: white;
    border: var(--card-borders);
    border-radius: var(--card-border-radius-3);
    box-shadow: var(--card-shadow);
    padding: 4rem 3rem;
    position: relative;
  }

  .soluciones__tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
  }

  .soluciones__tabs .lista--izq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--neutral-500);
    font-size: var(--body-16);
  }

  .soluciones__tabs .lista--izq li {
    margin: 0 0.6rem;
    padding: 1rem;
    width: calc(100% / 5);
    font-weight: 500;
  }

  .soluciones__tabs ul li:hover {
    transition: all 0.4s ease;
  }

  .soluciones__tabs ul li:not(:hover) {
    transition: all 0.4s ease;
  }

  .soluciones__tabs ul li.active-tab {
    color: #0a45b3;
    border-radius: 1.2rem;
    background-color: var(--secondary-00);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(219,237,249,1);
-moz-box-shadow: 0px 0px 0px 1px rgba(219,237,249,1);
box-shadow: 0px 0px 0px 1px rgba(219,237,249,1);
  }

  ul.puntos__lista {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .puntos__lista li {
    display: flex;
    justify-content: center;
    width: calc(100% / 6);
  }

  ul.flechas__lista {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .flechas__lista li {
    display: flex;
    justify-content: end;
    width: calc(100% / 6);
  }

  .puntos__lista li .circle-icon {
    width: 16px;
    opacity: 0;
    position: relative;
    z-index: 2;
    padding-top: 0.3rem;
    transition: all 0.4s ease-in-out;
  }

  .flechas__lista li .arrow-icon {
    position: relative;
    z-index: 2;
    font-size: 36px;
    margin-top: 1rem;
    left: 1rem;
    color: white;
    transition: all 0.4s ease-in-out;
  }

  .puntos__lista li .active.circle-icon {
    width: 16px;
    opacity: 1;
    position: absolute;
    transition: all 0.4s ease-in-out;
  }

  .flechas__lista li .active.arrow-icon {
    color: var(--secondary-400);
    transition: all 0.4s ease-in-out;
  }

  .linea {
    position: absolute;
    top: 50%;
    left: 8%;
    z-index: 1;
    width: 83.3%;
    height: 0.2rem;
    background-color: var(--neutral-100);
  }

  .solucion__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  h4.solucion__titulo {
    font-size: var(--title-20);
    font-weight: 500;
    color: var(--primary-700);
    padding-bottom: 3rem;
    text-align: left;
  }

  .solucion__item-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .solucion__item-heading div {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  .solucion__item-heading div p {
    width: 100%;
    margin-bottom: 3rem;
  }

  .soluciones__descripcion p {
    line-height: 160%;
    font-weight: 400;
    color: var(--primary-900);
  }

  span.title-tag {
    display: inline-flex;
    color: var(--neutral-500);
    font-size: var(--body-14);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2.4rem;
  }

  .leer-mas {
    color: var(--secondary-400);
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    text-transform: uppercase;
  }

  /* leer más */
  .leer-mas a {
    font-size: var(--body-16);
    font-weight: 500;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
  }

  span.leer-mas {
    padding-top: 2rem;
  }

  .leer-mas .arrow {
    font-size: 2rem;
    padding-bottom: 0.2rem;
  }

  .leer-mas a:visited {
    color: var(--secondary-400);
  }

  .soluciones__lista--detallada {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }

  .soluciones__lista--detallada li {
    display: flex;
    align-items: center;
    color: var(--primary-900);
    font-size: var(--body-16);
    line-height: 160%;
    padding-bottom: 2rem;
    width: 48%;
  }

  .soluciones__lista--detallada .done {
    font-size: var(--title-24);
    color: var(--secondary-400);
    padding: 0.4rem 0.5rem 0 0;
    align-self: flex-start;
  }

  .solucion__img-container {
    display: block;
    width: 30%;
  }
}

@media only screen and (min-width: 1100px) {
  .solucion__item-heading div {
    justify-content: space-around;
    width: 60%;
  }
}

@media only screen and (min-width: 1280px) {
  /* sección de soluciones */
  /* titulo */
  .soluciones__container {
    padding: 3rem;
    position: relative;
    margin-top: 4rem;
    /*flex-direction: row;*/
  }

  .solucion__item {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .solucion__item-heading img {
    width: 30rem;
    margin: 0;
    padding-top: 0;
  }

  .solucion__item-heading div p {
    margin-bottom: 2rem;
  }

  span.title-tag {
    margin-top: 2rem;
  }

  .solucion__item-heading div {
    justify-content: space-around;
    width: 60%;
  }

  .container__solutions {
    display: flex;
    flex-direction: row;
  }

  .tab-content--active {
    margin: 0;
    margin-left: 4rem;
    width: 100%;
  }

  .container__solutions--top {
    display: flex;
    flex-direction: column;
    width: 44rem;
    margin: 0;
  }

  .container__solutions--top li {
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  /* sección de soluciones */
  .soluciones__tabs {
    margin-left: 1rem;
  }

  .soluciones__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 4rem 5rem;
  }

  h4.solucion__titulo {
    text-align: left;
    font-weight: 500;
  }

  .soluciones__lista--detallada li {
    width: 45%;
    padding-bottom: 3rem;
  }

  .leer-mas {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1700px) {
  span.title-tag {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1900px) {
  section.soluciones {
    padding-bottom: 6rem;
  }

  .soluciones__tabs {
    margin-left: 0;
  }

  .solucion__item {
    padding-right: 2rem;
  }

  .solucion__item-heading div {
    width: 65%;
  }

  span.title-tag {
    margin-top: 3rem;
  }
}