:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Nunito", sans-serif;
  --title-48: 48px;
  --title-40: 40px;
  --title-36: 36px;
  --title-32: 32px;
  --title-28: 28px;
  --title-24: 24px;
  --title-20: 20px;
  --body-18: 18px;
  --body-16: 16px;
  --body-14: 14px;

  --card-borders: 1px solid #ecf2f4;
  --card-border-radius: calc(0.05 * min(100vw, 100vh));
  --card-border-radius-2: calc(0.03 * min(100vw, 100vh));
  --card-border-radius-3: calc(0.02 * min(100vw, 100vh));
  --card-shadow: 0px 4px 9px rgba(37, 101, 197, 0.095);
  --button-shadow: 0px 4px 9px rgba(37, 101, 197, 0.095);
  --button-shadow-hover: 0px 4px 9px rgba(37, 101, 197, 0.095);
  --bg-linear-gradient: linear-gradient(180deg, #57bdf4 0%, #0899eb 100%);

  --bg-color: #fafcfe;
  --primary-900: #001f59;
  --primary-800: #012d82;
  --primary-700: #1045ab;
  --primary-600: #2662d4;
  --primary-500: #4383fd;
  --primary-400: #669aff;
  --primary-300: #87b0ff;
  --primary-200: #a9c6ff;
  --primary-100: #cadcff;
  --primary-00: #ecf2ff;
  --secondary-900: #013855;
  --secondary-800: #075077;
  --secondary-700: #116999;
  --secondary-600: #1e84bb;
  --secondary-500: #2ea0dd;
  --secondary-400: #42bdff;
  --secondary-300: #6cccff;
  --secondary-200: #97daff;
  --secondary-100: #c1e9ff;
  --secondary-00: #ecf8ff;
  --neutral-900: #283744;
  --neutral-800: #394C5E;
  --neutral-700: #4A6277;
  --neutral-600: #5D7890;
  --neutral-500: #718FAA;
  --neutral-400: #86A6C4;
  --neutral-300: #9CBEDD;
  --neutral-200: #B3D6F7;
  --neutral-100: #D7EBFD;
  --neutral-00: #F8FBFF;
}

* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}

.soluciones__container, .soluciones__accordeon {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* sección de soluciones */
section.soluciones {
  position: relative;
}

/* titulo */
.soluciones__container h2, .soluciones__accordeon h2 {
  color: var(--primary-700);
  font-size: var(--title-24);
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0;
}

.soluciones__headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* soluciones - versión móvil */
.soluciones__accordeon {
  flex-direction: column;
  width: 100%;
  background-color: white;
  border: var(--card-borders);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  padding: 10px 8px;
}

.solucion__card--mobile {
  padding: 20px 12px 14px;
  border-bottom: 1px #e8f4f8 solid;
}

.solucion__card--mobile:last-child {
  border-bottom: none;
}

.solucion__card--mobile .card__header {
  display: flex;
  flex-direction: column;
}

.solucion__card--mobile .card__header .card__header--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__header h2 {
  color: var(--primary-700);
  font-size: var(--body-16);
  font-weight: 600;
  letter-spacing: -0.02rem;
  margin-top: 8px;
}

.card__header span {
  display: inline-block;
  color: var(--neutral-400);
  font-size: var(--body-14);
  line-height: 160%;
  font-weight: 500;
  text-transform: none;
  margin-top: 6px;
}

.card__header .accordeon__icon {
  font-size: 30px;
  color: var(--neutral-400);
}

.card__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.card__content.desplegable {
  max-height: 2000px;
}

.card__content p {
  font-size: var(--body-14);
  line-height: 160%;
  letter-spacing: -0.02rem;
  text-align: left;
  hyphens: auto;
}

.card__content img {
  align-self: center;
  width: min(50%, 200px);
  margin: 30px 0;
}

/* soluciones - versión desktop */
.soluciones__container {
  display: none;
}

span.title-tag {
  display: inline-flex;
  color: var(--neutral-500);
  font-size: var(--body-14);
  font-weight: 500;
  margin-bottom: 20px;
}

.soluciones__lista--detallada {
  padding: 0 !important; ;
}

.soluciones__lista--detallada li {
  display: flex;
  color: var(--primary-900);
  font-size: var(--body-16);
  padding-bottom: 20px;
}

.soluciones__lista--detallada .done {
  font-size: 24px;
  color: var(--secondary-400);
  padding: 0 5px 5px 0;
}

.bold__solucion {
  font-weight: 500;
}

.soluciones__lista--detallada .solution__img {
  width: 36px;
  margin: 4px 14px 0 0;
  align-self: start;
}

.leer-mas {
  color: var(--secondary-400);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

.leer-mas a {
  font-size: var(--body-16);
  padding-right: 2px;
  padding-bottom: 2px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-decoration: none;
}

.leer-mas .arrow {
  font-size: 20px;
  padding-bottom: 2px;
}

.leer-mas a:link,
.leer-mas a:visited {
  color: var(--secondary-400);
}

/* Breakpoints adicionales */
/* Estilos para dispositivos mayores de 480px */
@media only screen and (min-width: 480px) {
  .card__header h2 {
    font-size: var(--body-18);
    letter-spacing: 0;
  }

  .card__header span {
    font-size: var(--body-16);
  }

  .card__content p {
    font-size: var(--body-16);
    letter-spacing: -0.02rem;
  }

  span.title-tag {
    font-size: var(--body-16);
  }

  .soluciones__lista--detallada .solution__img {
    width: 40px;
  }
}

/* Estilos para dispositivos mayores de 1023px */
@media only screen and (min-width: 1023px) {
  /* sección de soluciones */
  .soluciones__accordeon {
    display: none;
  }

  /* subtitulo */
  .soluciones__headings h3 {
    text-align: center;
  }

  .soluciones__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: white;
    border: var(--card-borders);
    border-radius: 20px;
    box-shadow: var(--card-shadow);
    padding: 40px 30px;
    position: relative;
  }

  .soluciones__tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }

  .soluciones__tabs .lista--izq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    color: var(--neutral-500);
    font-size: var(--body-16);
    padding: 0 !important;
  }

  .soluciones__tabs .lista--izq li {
    margin: 0 6px;
    padding: 10px 15px;
    width: calc(100% / 5);
    font-weight: 500;
  }

  .soluciones__tabs ul li:hover {
    transition: all 0.4s ease;
  }

  .soluciones__tabs ul li:not(:hover) {
    transition: all 0.4s ease;
  }

  .soluciones__tabs ul li.active-tab {
    color: #0a45b3;
    border-radius: 12px;
    background-color: var(--secondary-00);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(219,237,249,1);
-moz-box-shadow: 0px 0px 0px 1px rgba(219,237,249,1);
box-shadow: 0px 0px 0px 1px rgba(219,237,249,1);
  }

  ul.puntos__lista {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0 !important;
  }

  .puntos__lista li {
    display: flex;
    justify-content: center;
    width: calc(100% / 6);
  }

  ul.flechas__lista {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .flechas__lista li {
    display: flex;
    justify-content: end;
    width: calc(100% / 6);
  }

  .puntos__lista li .circle-icon {
    width: 16px;
    opacity: 0;
    position: relative;
    z-index: 2;
    padding-top: 3px;
    transition: all 0.4s ease-in-out;
  }

  .flechas__lista li .arrow-icon {
    position: relative;
    z-index: 2;
    font-size: 28px;
    margin-top: 10px;
    left: 10px;
    color: white;
    transition: all 0.4s ease-in-out;
  }

  .puntos__lista li .active.circle-icon {
    width: 16px;
    opacity: 1;
    position: absolute;
    transition: all 0.4s ease-in-out;
  }

  .flechas__lista li .active.arrow-icon {
    color: var(--secondary-400);
    transition: all 0.4s ease-in-out;
  }

  .linea {
    position: absolute;
    top: 50%;
    left: 8%;
    z-index: 1;
    width: 83.3%;
    height: 2px;
    background-color: var(--neutral-100);
  }

  .solucion__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }

  h4.solucion__titulo {
    font-size: var(--title-24);
    font-weight: 600;
    color: var(--primary-700);
    padding-bottom: 30px;
    text-align: left;
  }

  .solucion__parrafo {
    font-size: var(--body-16);
    line-height: 160%;
    font-weight: 400;
    color: var(--primary-900);
  }

  .solucion__item-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .solucion__item-heading div {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  .solucion__parrafo {
    width: 100%;
    margin-bottom: 30px;
  }

  span.title-tag {
    display: inline-flex;
    color: var(--neutral-500);
    font-size: var(--body-14);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 24px;
  }

  .leer-mas {
    color: var(--secondary-400);
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
  }

  /* leer más */
  .leer-mas a {
    font-size: var(--body-16);
    font-weight: 500;
    padding-right: 2px;
    padding-bottom: 2px;
  }

  span.leer-mas {
    padding-top: 20px;
  }

  .leer-mas .arrow {
    font-size: 20px;
    padding-bottom: 2px;
  }

  .leer-mas a:visited {
    color: var(--secondary-400);
  }

  .soluciones__lista--detallada {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }

  .soluciones__lista--detallada li {
    display: flex;
    align-items: center;
    color: var(--primary-900);
    font-size: var(--body-16);
    line-height: 160%;
    padding-bottom: 20px;
    width: 48%;
  }

  .soluciones__lista--detallada .done {
    font-size: var(--title-24);
    color: var(--secondary-400);
    padding: 4px 5px 0 0;
    align-self: flex-start;
  }

  .solucion__img-container {
    display: block;
    width: 30%;
  }
}

/* Estilos para dispositivos mayores de 1279px */
@media only screen and (min-width: 1279px) {
  .solucion__item {
    padding-left: 50px;
    padding-right: 50px;
  }

  .solucion__item-heading img {
    width: 300px;
    margin: 0;
    padding-top: 0;
  }

  .solucion__item-heading div {
    justify-content: space-around;
    width: 60%;
  }

  @media only screen and (min-width: 1440px) {
    .solucion__item-heading img {
      width: 400px;
    }
}
}